.check-digit {
  text-align: center;
  height: calc(100vh - 64px);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.06);

  @media screen and (max-width: 599px) {
    height: calc(100vh - 56px);
  }

  mat-card {
    padding: 48px;
  }
}
