@import '~@angular/material/theming';

.check-digit {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  padding: 48px 16px 0px 16px;

  @media screen and (max-width: 599px) {
    padding-top: 36px;
  }

  .mat-card {
    @include mat-elevation-transition;
    @include mat-elevation(5, #000, .13);
    width: 100%;
    max-width: 850px;
    padding: 52px;
    margin: 0 auto auto;
  }

  .mat-card-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 48px;
  }

  .mat-form-field {
    width: 100%;
    margin-bottom: 64px;
  }

  &__vin {
    font-size: 46px;
    font-weight: 500;
    line-height: 55px;
    min-height: 55px;
    text-transform: uppercase;
    margin-bottom: 72px;
  }
}
