.vin-display {
  font-size: 46px;
  font-weight: 500;
  line-height: 55px;
  min-height: 55px;
  text-transform: uppercase;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 599px) {
    font-size: 20px;
    line-height: 24px;
    min-height: 24px;
  }

  &__vin-first {
    margin-right: 8px;

    @media screen and (max-width: 599px) {
      margin-right: 4px;
    }
  }

  &__check-digit {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: rgba(0,0,0,0.06);
    padding: 0px 12px;

    @media screen and (max-width: 599px) {
      padding: 0 4px
    }
  }

  &__vin-last {
    margin-left: 8px;

    @media screen and (max-width: 599px) {
      margin-left: 4px;
    }
  }
}
