@import '~src/variables';
.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  .wip {
    overflow: hidden;
    .mat-button {
      &::after {
        content: 'WIP';
        font-size: 12px;
        position: absolute;
        width: 48px;
        height: 16px;
        line-height: 16px;
        top: 2px;
        right: 2px;
        transform: rotate(45deg) translate(25%, -50%);
        background: #79A70A;
        background: linear-gradient(#9BC90D 0%, #79A70A 100%);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      }
    }
  }
}

footer.footer {
  height: $footer-height;
  background: rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
