@import '~src/variables';
$vehicle-info-line-height: 24px;

.random-vin {
  text-align: center;
  height: calc(100vh - (64px + #{$footer-height}));
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 599px) {
    height: calc(100vh - (56px + #{$footer-height}));
  }

  &__img {
    width: 100%;
    @media screen and (max-height: 660px) {
      width: auto;
    }

    img {
      max-width: 300px;
      width: 100%;
    }
  }

  &__vin {
    width: 100%;

    .mat-button {
      font-size: 20px;
    }
  }

  &__valid {
    width: 100%;
    margin-top: 0;
  }

  &__actions {
    display: flex;
    width: 100%;
    margin-bottom: 36px;
    justify-content: center;
    flex-wrap: wrap;

    &__item {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      .mat-raised-button {
        border-radius: 21px;
        font-weight: 200;

        .mat-icon {
          transform: translateX(8px);
        }
      }
    }
  }

  &__new-vin {
    position: fixed;
    z-index: 5;
    bottom: 24px;
    right: 24px;
  }

  &__vehicle-info {
    position: relative;
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    min-height: $vehicle-info-line-height + 16px;
    margin-top: 12px;

    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: $vehicle-info-line-height;
    }
  }
}
