<div class="random-vin">
  <div class="random-vin__img">
    <img alt="Angular Logo" [src]="base64Image || 'assets/logo.png'">
  </div>
  <div class="random-vin__vin">
    <button mat-button
      matTooltip="Copy to clipboard"
      matTooltipPosition="after"
      aria-label="Button that copies VIN to clipboard."
      (click)="copyVinToClipboard()"
      class="gtm-copy-vin-to-clipboard">
      <span #vinText class="gtm-copy-vin-to-clipboard">{{ randomVin }}</span>
    </button>
  </div>
  <div class="random-vin__vehicle-info">
    <div class="random-vin__vehicle-info__text" *ngIf="shouldShowVehicleInfoText" [@fadeInOut]>
      {{ vehicleInfoText }}
    </div>
  </div>
  <!-- <h4 class="random-vin__valid">{{ validCheckDigit ? 'The check digit is valid' : 'The check digit is not valid' }}</h4> -->
  <div class="random-vin__actions">
    <div class="random-vin__actions__item">
      <button mat-raised-button (click)="link.click();" [disabled]="!shouldShowVehicleInfoText" color="primary"><span style="padding-right: 16px;">Find Photos</span><mat-icon>arrow_forward</mat-icon></button>
      <a style="display: none;" #link [href]="imageSearchUrl" target="_blank"></a>
    </div>
    <div class="random-vin__actions__item">
      <button mat-fab color="primary" (click)="getQrCode()" class="random-vin__new-vin"><mat-icon>add</mat-icon></button>
    </div>
  </div>
</div>
