@import '~src/variables';
@import '~@angular/material/theming';
$vehicle-info-line-height: 31px;

.random-vin {
  height: 100%;
  background: rgba(0, 0, 0, 0.06);
  padding: 80px 16px 0px 16px;


  @media screen and (max-width: 599px) {
    padding-top: 48px;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 599px) {
      display: block;
      text-align: center;
    }
  }

  &__img {
    flex: 1;
    margin-right: 24px;

    img {
      @include mat-elevation-transition;
      @include mat-elevation(5, #000, .13);
      display: block;
      margin-left: auto;
      max-width: 300px;
      width: 100%;
    }

    @media screen and (max-width: 599px) {
      margin-bottom: 36px;
      margin-right: 0;

      img {
        margin-right: auto;
        max-width: 150px;
      }
    }
  }

  &__valid {
    width: 100%;
    margin-top: 0;
  }

  &__actions {
    // display: flex;
    // width: 100%;
    // margin-bottom: 36px;
    // justify-content: center;
    // flex-wrap: wrap;

    &__item {
      width: 100%;

      .mat-raised-button {
        border-radius: 21px;
        font-weight: 200;

        .mat-icon {
          transform: translateX(8px);
        }
      }
    }
  }

  &__new-vin {
    position: fixed;
    z-index: 5;
    bottom: 24px;
    right: 24px;
  }

  &__vehicle-info {
    flex: 1;
    font-weight: 200;
    min-height: 118px;

    &__text {
      position: relative;
      width: 100%;
      text-transform: capitalize;
      color: #333;
      min-height: $vehicle-info-line-height;
      opacity: 0;
      transition: all 250ms cubic-bezier(0.770, 0.000, 0.175, 1.000);

      &--in {
        opacity: 1;
      }

      &__content {
        // position: absolute; // TODO: Bring back the old animation transition
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        line-height: $vehicle-info-line-height;
        font-size: 26px;
      }
    }

    &__vin {
      font-size: 16px;
      opacity: 0.55;
      margin-bottom: 12px;

      .mat-button {
        margin-left: -16px;

        @media screen and (max-width: 599px) {
          margin-left: 0;
        }
      }
    }
  }
}
