// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import '../node_modules/mdp-sass/mdp-sass.scss';

$barcode-tool-base-color: #1ba0f7;
$barcode-tool-warn-color: #d44960;

$barcode-tool-primary-palette: get-mat-palette($barcode-tool-base-color, true);
$barcode-tool-warn-palette: get-mat-palette($barcode-tool-warn-color);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$barcode-tool-primary: mat-palette($barcode-tool-primary-palette);
$barcode-tool-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$barcode-tool-warn: mat-palette($barcode-tool-warn-palette);

// Create the theme object (a Sass map containing all of the palettes).
$barcode-tool-theme: mat-light-theme($barcode-tool-primary, $barcode-tool-accent, $barcode-tool-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($barcode-tool-theme);

/* You can add global styles to this file, and also import other style files */
body {
  min-height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
